year_26
year_25/First_term/Analog Layout
year_25/First_term/Digital IC
year_25/First_term/EE250 - Probability
year_25/First_term/High Speed serdes
year_25/First_term/Linux OS and screpting
year_25/First_term/Power mangment
year_25/First_term/Python Programming
year_25/First_term

year_25/Second_term
year_25/GetHub
year_25/Timeline.xlsx